<p id="notice"><%= notice %></p>

<p>
  <strong>Campo1:</strong>
  <%= @nombre_modelo.campo1 %>
</p>

<p>
  <strong>Campo2:</strong>
  <%= @nombre_modelo.campo2 %>
</p>

<%= link_to 'Edit', edit_nombre_modelo_path(@nombre_modelo) %> |
<%= link_to 'Back', nombre_modelos_path %>
